* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: #e5e5e5;
    overflow: hidden;
}

main {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}

img.banner {
    display: block;
    width: 100%;
    max-width: 100%;
    height: auto;
    object-fit: cover;
    max-height: 60vh;
}

.container {
    width: 100%;
    height: var(--height);
    /* gap: 500%; */
    mask-image: linear-gradient(to right, transparent, black 10%, black 90%, transparent);
}

.carrossel {
    width: 100%;
    display: flex;
    position: relative;
}

.item {
    width: var(--width);
    height: var(--height);
    position: absolute;
    left: 100%;
    animation: autoRun 20s linear infinite;
    animation-delay: calc(10 / var(--quantity) * var(--delay)) !important;
    cursor: pointer;
}

.container.reverse .item {
    animation: ReverseRun 10s linear infinite;
    animation-delay: calc(10 / var(--quantity) * var(--delay));
}

.item img {
    width: 100%;
}

.container:hover .item {
    animation-play-state: paused;
    filter: grayscale(1);
}

.container .item:hover {
    filter: grayscale(0);
}

@keyframes autoRun {
    from {
        left: 100%;
    }

    to {
        left: -50%;
    }
}

@keyframes ReverseRun {
    from {
        left: -50%;
    }

    to {
        left: 100%;
    }
}